<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Content Security Policy</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600' rel='stylesheet' type='text/css'>
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
    @using (Html.BeginCspStyle())
    {
        <text>
        h1:before, h1:after {
            color: red;
            content: "*";
        }
        </text>
    }
</head>
<body>
    <h1>Content Security Policy Level 2</h1>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/shine.js/0.2.7/shine.min.js"></script>
    @using (Html.BeginCspScript())
    {
        <text>
        $(document).ready(function() {
            var cspShine = new Shine($('h1')[0]);

            cspShine.light.position.x = window.innerWidth * 0.5;
            cspShine.light.position.y = window.innerHeight * 0.25;
            cspShine.config.opacity = 0.75;
            cspShine.draw();
        });
        </text>
    }
</body>
</html>
